@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
@import "rehype-callouts/theme/vitepress";
@import "katex/dist/katex.min.css";
/* @import "./callout.css"; */
@import "./colors.css";
@import "./code.css";

body {
	padding-left: 1rem;
	padding-right: 1rem;
	@apply bg-background text-foreground;
}

article {
	padding-top: 5rem;
	padding-bottom: 3rem;
	display: block;
}

article,
article img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

article img {
	@apply rounded-lg;
}

h1#user-content-no-anchor a.anchor,
h2#user-content-no-anchor a.anchor,
h3#user-content-no-anchor a.anchor,
h4#user-content-no-anchor a.anchor,
h5#user-content-no-anchor a.anchor,
h6#user-content-no-anchor a.anchor {
	@apply hidden;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.remove-arrow {
	-moz-appearance: textfield;
}

[data-twemoji] {
	@apply size-[1.2em] inline-block align-text-bottom;
}

.typst-text {
	@apply fill-foreground;
}

.pintora {
	@apply w-fit mx-auto;
}

/* hide the .d2-dark class on light mode */
html.dark .d2-light {
	display: none;
}

html.light .d2-dark {
	display: none;
}

.d2.div,
.d2,
.d2 svg {
	@apply mx-auto max-w-full;
}

.d2 figcaption {
	@apply text-center text-sm text-gray-500;
}

.d2.sketch text {
	font-family: "Fuzzy Bubbles", sans-serif !important;
}

.d2:not(.sketch) text {
	font-family: "Source Sans 3" !important;
}
