@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;

		--shiki-foreground: #24292e;
		--shiki-background: #fff;
		--shiki-token-constant: #005cc5;
		--shiki-token-string: #032f62;
		--shiki-token-comment: #6a737d;
		--shiki-token-keyword: #d73a49;
		--shiki-token-parameter: #24292e;
		--shiki-token-function: #6f42c1;
		--shiki-token-string-expression: #032f62;
		--shiki-token-punctuation: #24292e;
		--shiki-token-link: #032f62;

		/* ANSI colors */
		--shiki-ansi-black: #24292e;
		--shiki-ansi-black-dim: #24292e80;
		--shiki-ansi-red: #d73a49;
		--shiki-ansi-red-dim: #d73a4980;
		--shiki-ansi-green: #28a745;
		--shiki-ansi-green-dim: #28a74580;
		--shiki-ansi-yellow: #dbab09;
		--shiki-ansi-yellow-dim: #dbab0980;
		--shiki-ansi-blue: #0366d6;
		--shiki-ansi-blue-dim: #0366d680;
		--shiki-ansi-magenta: #5a32a3;
		--shiki-ansi-magenta-dim: #5a32a380;
		--shiki-ansi-cyan: #1b7c83;
		--shiki-ansi-cyan-dim: #1b7c8380;
		--shiki-ansi-white: #6a737d;
		--shiki-ansi-white-dim: #6a737d80;
		--shiki-ansi-bright-black: #959da5;
		--shiki-ansi-bright-black-dim: #959da580;
		--shiki-ansi-bright-red: #cb2431;
		--shiki-ansi-bright-red-dim: #cb243180;
		--shiki-ansi-bright-green: #22863a;
		--shiki-ansi-bright-green-dim: #22863a80;
		--shiki-ansi-bright-yellow: #b08800;
		--shiki-ansi-bright-yellow-dim: #b0880080;
		--shiki-ansi-bright-blue: #005cc5;
		--shiki-ansi-bright-blue-dim: #005cc580;
		--shiki-ansi-bright-magenta: #5a32a3;
		--shiki-ansi-bright-magenta-dim: #5a32a380;
		--shiki-ansi-bright-cyan: #3192aa;
		--shiki-ansi-bright-cyan-dim: #3192aa80;
		--shiki-ansi-bright-white: #d1d5da;
		--shiki-ansi-bright-white-dim: #d1d5da80;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--shiki-foreground: #e1e4e8;
		--shiki-background: #24292e;
		--shiki-token-constant: #79b8ff;
		--shiki-token-string: #9ecbff;
		--shiki-token-comment: #6a737d;
		--shiki-token-keyword: #f97583;
		--shiki-token-parameter: #e1e4e8;
		--shiki-token-function: #b392f0;
		--shiki-token-string-expression: #9ecbff;
		--shiki-token-punctuation: #e1e4e8;
		--shiki-token-link: #dbedff;

		/* ANSI colors */
		--shiki-ansi-black: #586069;
		--shiki-ansi-black-dim: #58606980;
		--shiki-ansi-red: #ea4a5a;
		--shiki-ansi-red-dim: #ea4a5a80;
		--shiki-ansi-green: #34d058;
		--shiki-ansi-green-dim: #34d05880;
		--shiki-ansi-yellow: #ffea7f;
		--shiki-ansi-yellow-dim: #ffea7f80;
		--shiki-ansi-blue: #2188ff;
		--shiki-ansi-blue-dim: #2188ff80;
		--shiki-ansi-magenta: #b392f0;
		--shiki-ansi-magenta-dim: #b392f080;
		--shiki-ansi-cyan: #39c5cf;
		--shiki-ansi-cyan-dim: #39c5cf80;
		--shiki-ansi-white: #d1d5da;
		--shiki-ansi-white-dim: #d1d5da80;
		--shiki-ansi-bright-black: #959da5;
		--shiki-ansi-bright-black-dim: #959da580;
		--shiki-ansi-bright-red: #f97583;
		--shiki-ansi-bright-red-dim: #f9758380;
		--shiki-ansi-bright-green: #85e89d;
		--shiki-ansi-bright-green-dim: #85e89d80;
		--shiki-ansi-bright-yellow: #ffea7f;
		--shiki-ansi-bright-yellow-dim: #ffea7f80;
		--shiki-ansi-bright-blue: #79b8ff;
		--shiki-ansi-bright-blue-dim: #79b8ff80;
		--shiki-ansi-bright-magenta: #b392f0;
		--shiki-ansi-bright-magenta-dim: #b392f080;
		--shiki-ansi-bright-cyan: #56d4dd;
		--shiki-ansi-bright-cyan-dim: #56d4dd80;
		--shiki-ansi-bright-white: #fafbfc;
		--shiki-ansi-bright-white-dim: #fafbfc80;
	}
}

body {
	padding-left: 1rem;
	padding-right: 1rem;
	@apply bg-background text-foreground;
}

article {
	padding-top: 5rem;
	padding-bottom: 3rem;
	display: block;
}

article,
article img {
	margin-left: auto;
	margin-right: auto;
	display: inherit !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

article img {
	@apply rounded-lg;
}

pre.with-title .copy-button {
	@apply top-4;
}

pre {
	@apply border dark:border-gray-700 border-gray-200 rounded-md;
}

code .diff.add {
	background-color: rgba(16, 185, 129, 0.16) !important;
	position: relative;
}

code .diff.remove {
	background-color: rgba(239, 68, 68, 0.16) !important;
	position: relative;
	opacity: 0.65;
}

code .line.highlighted {
	background-color: rgba(185, 185, 185, 0.16) !important;
}

code .diff.add::before {
	content: "+";
	color: #10b981;
	position: absolute;
	@apply left-[0.7rem];
}

code .diff.remove::before {
	content: "-";
	color: #ef4444;
	position: absolute;
	@apply left-[0.7rem];
}

code .diff.add span,
code .diff.remove span,
code .line.highlighted span {
	background-color: transparent;
}

span.highlighted-word {
	background-color: rgba(185, 185, 185, 0.16) !important;
	border: 1px solid rgba(185, 185, 185, 0.32);
	padding: 2px 4px;
	border-radius: 4px;
}

.has-focused .line:not(.focused) {
	filter: blur(0.095rem);
	opacity: 0.4;
	transition: filter 0.35s, opacity 0.35s;
}

.has-focused:hover .line:not(.focused) {
	filter: blur(0);
	opacity: 1;
}

html[data-word-wrap] pre {
	word-break: break-word;
	@apply whitespace-pre-wrap md:whitespace-pre;
}

[data-rehype-pretty-code-figure] pre {
	@apply px-0;
}

[data-rehype-pretty-code-figure] code {
	@apply text-[0.8571429em] !leading-loose md:text-sm;
}

[data-rehype-pretty-code-title] {
	@apply text-sm text-gray-500 border rounded-t-md px-4 py-2;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
	counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	@apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] pre [data-line] {
	@apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
	background: rgba(200, 200, 255, 0.1);
	@apply !border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
	background-color: rgba(224, 224, 249, 0.1);
	border: 1px solid rgba(200, 200, 255, 0.2);
	padding: 2px 4px;
	border-radius: 4px;
}

[data-rehype-pretty-code-figure] [data-chars-id] {
	@apply border-b-2 p-1 shadow-none;
}
