:root[data-theme="dracula"] {
	--background: 230 15% 95%;
	--foreground: 231 15% 18%;
	--card: 230 15% 95%;
	--card-foreground: 231 15% 18%;
	--popover: 230 15% 95%;
	--popover-foreground: 231 15% 18%;
	--primary: 231 15% 18%;
	--primary-foreground: 230 15% 95%;
	--secondary: 232 14% 90%;
	--secondary-foreground: 231 15% 18%;
	--muted: 232 14% 90%;
	--muted-foreground: 231 15% 45%;
	--accent: 232 14% 90%;
	--accent-foreground: 231 15% 18%;
	--destructive: 348 100% 68%;
	--destructive-foreground: 230 15% 95%;
	--border: 232 14% 85%;
	--input: 232 14% 85%;
	--ring: 231 15% 18%;
	--radius: 0.5rem;
	--chart-1: 326 100% 74%;
	--chart-2: 265 89% 78%;
	--chart-3: 135 94% 65%;
	--chart-4: 31 100% 71%;
	--chart-5: 191 97% 77%;

	--shiki-foreground: #282a36;
	--shiki-background: transparent;
	--shiki-token-constant: #bd93f9;
	--shiki-token-string: #f1fa8c;
	--shiki-token-comment: #6272a4;
	--shiki-token-keyword: #ff79c6;
	--shiki-token-parameter: #ffb86c;
	--shiki-token-function: #50fa7b;
	--shiki-token-string-expression: #f1fa8c;
	--shiki-token-punctuation: #f8f8f2;
	--shiki-token-link: #8be9fd;

	/* ANSI colors */
	--shiki-ansi-black: #21222c;
	--shiki-ansi-black-dim: #21222c80;
	--shiki-ansi-red: #ff5555;
	--shiki-ansi-red-dim: #ff555580;
	--shiki-ansi-green: #50fa7b;
	--shiki-ansi-green-dim: #50fa7b80;
	--shiki-ansi-yellow: #f1fa8c;
	--shiki-ansi-yellow-dim: #f1fa8c80;
	--shiki-ansi-blue: #bd93f9;
	--shiki-ansi-blue-dim: #bd93f980;
	--shiki-ansi-magenta: #ff79c6;
	--shiki-ansi-magenta-dim: #ff79c680;
	--shiki-ansi-cyan: #8be9fd;
	--shiki-ansi-cyan-dim: #8be9fd80;
	--shiki-ansi-white: #f8f8f2;
	--shiki-ansi-white-dim: #f8f8f280;
	--shiki-ansi-bright-black: #6272a4;
	--shiki-ansi-bright-black-dim: #6272a480;
	--shiki-ansi-bright-red: #ff6e6e;
	--shiki-ansi-bright-red-dim: #ff6e6e80;
	--shiki-ansi-bright-green: #69ff94;
	--shiki-ansi-bright-green-dim: #69ff9480;
	--shiki-ansi-bright-yellow: #ffffa5;
	--shiki-ansi-bright-yellow-dim: #ffffa580;
	--shiki-ansi-bright-blue: #d6acff;
	--shiki-ansi-bright-blue-dim: #d6acff80;
	--shiki-ansi-bright-magenta: #ff92df;
	--shiki-ansi-bright-magenta-dim: #ff92df80;
	--shiki-ansi-bright-cyan: #a4ffff;
	--shiki-ansi-bright-cyan-dim: #a4ffff80;
	--shiki-ansi-bright-white: #ffffff;
	--shiki-ansi-bright-white-dim: #ffffff80;
}

.dark[data-theme="dracula"] {
	--background: 231 15% 18%;
	--foreground: 60 30% 96%;
	--card: 231 15% 18%;
	--card-foreground: 60 30% 96%;
	--popover: 231 15% 18%;
	--popover-foreground: 60 30% 96%;
	--primary: 60 30% 96%;
	--primary-foreground: 231 15% 18%;
	--secondary: 231 15% 22%;
	--secondary-foreground: 60 30% 96%;
	--muted: 231 15% 22%;
	--muted-foreground: 60 30% 75%;
	--accent: 231 15% 22%;
	--accent-foreground: 60 30% 96%;
	--destructive: 348 100% 68%;
	--destructive-foreground: 60 30% 96%;
	--border: 231 15% 22%;
	--input: 231 15% 22%;
	--ring: 60 30% 90%;
	--chart-1: 326 100% 74%;
	--chart-2: 265 89% 78%;
	--chart-3: 135 94% 65%;
	--chart-4: 31 100% 71%;
	--chart-5: 191 97% 77%;

	--shiki-foreground: #f8f8f2;
	--shiki-background: transparent;
	--shiki-token-constant: #bd93f9;
	--shiki-token-string: #f1fa8c;
	--shiki-token-comment: #6272a4;
	--shiki-token-keyword: #ff79c6;
	--shiki-token-parameter: #ffb86c;
	--shiki-token-function: #50fa7b;
	--shiki-token-string-expression: #f1fa8c;
	--shiki-token-punctuation: #f8f8f2;
	--shiki-token-link: #8be9fd;

	/* ANSI colors */
	--shiki-ansi-black: #21222c;
	--shiki-ansi-black-dim: #21222c80;
	--shiki-ansi-red: #ff5555;
	--shiki-ansi-red-dim: #ff555580;
	--shiki-ansi-green: #50fa7b;
	--shiki-ansi-green-dim: #50fa7b80;
	--shiki-ansi-yellow: #f1fa8c;
	--shiki-ansi-yellow-dim: #f1fa8c80;
	--shiki-ansi-blue: #bd93f9;
	--shiki-ansi-blue-dim: #bd93f980;
	--shiki-ansi-magenta: #ff79c6;
	--shiki-ansi-magenta-dim: #ff79c680;
	--shiki-ansi-cyan: #8be9fd;
	--shiki-ansi-cyan-dim: #8be9fd80;
	--shiki-ansi-white: #f8f8f2;
	--shiki-ansi-white-dim: #f8f8f280;
	--shiki-ansi-bright-black: #6272a4;
	--shiki-ansi-bright-black-dim: #6272a480;
	--shiki-ansi-bright-red: #ff6e6e;
	--shiki-ansi-bright-red-dim: #ff6e6e80;
	--shiki-ansi-bright-green: #69ff94;
	--shiki-ansi-bright-green-dim: #69ff9480;
	--shiki-ansi-bright-yellow: #ffffa5;
	--shiki-ansi-bright-yellow-dim: #ffffa580;
	--shiki-ansi-bright-blue: #d6acff;
	--shiki-ansi-bright-blue-dim: #d6acff80;
	--shiki-ansi-bright-magenta: #ff92df;
	--shiki-ansi-bright-magenta-dim: #ff92df80;
	--shiki-ansi-bright-cyan: #a4ffff;
	--shiki-ansi-bright-cyan-dim: #a4ffff80;
	--shiki-ansi-bright-white: #ffffff;
	--shiki-ansi-bright-white-dim: #ffffff80;
}
