:root[data-theme="gruvbox"] {
	--background: 50 13% 93%;
	--foreground: 40 6% 20%;
	--card: 50 13% 93%;
	--card-foreground: 40 6% 20%;
	--popover: 50 13% 93%;
	--popover-foreground: 40 6% 20%;
	--primary: 40 6% 20%;
	--primary-foreground: 50 13% 93%;
	--secondary: 43 9% 86%;
	--secondary-foreground: 40 6% 20%;
	--muted: 43 9% 86%;
	--muted-foreground: 40 5% 45%;
	--accent: 43 9% 86%;
	--accent-foreground: 40 6% 20%;
	--destructive: 0 70% 50%;
	--destructive-foreground: 50 13% 93%;
	--border: 40 6% 80%;
	--input: 40 6% 80%;
	--ring: 40 6% 20%;
	--radius: 0.5rem;
	--chart-1: 23 65% 57%;
	--chart-2: 66 50% 45%;
	--chart-3: 180 29% 50%;
	--chart-4: 6 70% 53%;
	--chart-5: 142 30% 50%;

	--shiki-foreground: #3c3836;
	--shiki-background: transparent;
	--shiki-token-constant: #076678;
	--shiki-token-string: #79740e;
	--shiki-token-comment: #928374;
	--shiki-token-keyword: #9d0006;
	--shiki-token-parameter: #3c3836;
	--shiki-token-function: #8f3f71;
	--shiki-token-string-expression: #79740e;
	--shiki-token-punctuation: #3c3836;
	--shiki-token-link: #79740e;

	/* ANSI colors */
	--shiki-ansi-black: #3c3836;
	--shiki-ansi-black-dim: #3c383680;
	--shiki-ansi-red: #9d0006;
	--shiki-ansi-red-dim: #9d000680;
	--shiki-ansi-green: #79740e;
	--shiki-ansi-green-dim: #79740e80;
	--shiki-ansi-yellow: #b57614;
	--shiki-ansi-yellow-dim: #b5761480;
	--shiki-ansi-blue: #076678;
	--shiki-ansi-blue-dim: #07667880;
	--shiki-ansi-magenta: #8f3f71;
	--shiki-ansi-magenta-dim: #8f3f7180;
	--shiki-ansi-cyan: #427b58;
	--shiki-ansi-cyan-dim: #427b5880;
	--shiki-ansi-white: #928374;
	--shiki-ansi-white-dim: #92837480;
	--shiki-ansi-bright-black: #7c6f64;
	--shiki-ansi-bright-black-dim: #7c6f6480;
	--shiki-ansi-bright-red: #cc241d;
	--shiki-ansi-bright-red-dim: #cc241d80;
	--shiki-ansi-bright-green: #98971a;
	--shiki-ansi-bright-green-dim: #98971a80;
	--shiki-ansi-bright-yellow: #d79921;
	--shiki-ansi-bright-yellow-dim: #d7992180;
	--shiki-ansi-bright-blue: #458588;
	--shiki-ansi-bright-blue-dim: #45858880;
	--shiki-ansi-bright-magenta: #b16286;
	--shiki-ansi-bright-magenta-dim: #b1628680;
	--shiki-ansi-bright-cyan: #689d6a;
	--shiki-ansi-bright-cyan-dim: #689d6a80;
	--shiki-ansi-bright-white: #a89984;
	--shiki-ansi-bright-white-dim: #a8998480;
}

.dark[data-theme="gruvbox"] {
	--background: 40 6% 20%;
	--foreground: 50 13% 93%;
	--card: 40 6% 20%;
	--card-foreground: 50 13% 93%;
	--popover: 40 6% 20%;
	--popover-foreground: 50 13% 93%;
	--primary: 50 13% 93%;
	--primary-foreground: 40 6% 20%;
	--secondary: 40 5% 25%;
	--secondary-foreground: 50 13% 93%;
	--muted: 40 5% 25%;
	--muted-foreground: 40 5% 70%;
	--accent: 40 5% 25%;
	--accent-foreground: 50 13% 93%;
	--destructive: 0 70% 40%;
	--destructive-foreground: 50 13% 93%;
	--border: 40 5% 25%;
	--input: 40 5% 25%;
	--ring: 50 13% 83%;
	--chart-1: 23 65% 57%;
	--chart-2: 66 50% 45%;
	--chart-3: 180 29% 50%;
	--chart-4: 6 70% 53%;
	--chart-5: 142 30% 50%;

	--shiki-foreground: #ebdbb2;
	--shiki-background: transparent;
	--shiki-token-constant: #83a598;
	--shiki-token-string: #b8bb26;
	--shiki-token-comment: #928374;
	--shiki-token-keyword: #fb4934;
	--shiki-token-parameter: #ebdbb2;
	--shiki-token-function: #d3869b;
	--shiki-token-string-expression: #b8bb26;
	--shiki-token-punctuation: #ebdbb2;
	--shiki-token-link: #b8bb26;

	/* ANSI colors */
	--shiki-ansi-black: #282828;
	--shiki-ansi-black-dim: #28282880;
	--shiki-ansi-red: #cc241d;
	--shiki-ansi-red-dim: #cc241d80;
	--shiki-ansi-green: #98971a;
	--shiki-ansi-green-dim: #98971a80;
	--shiki-ansi-yellow: #d79921;
	--shiki-ansi-yellow-dim: #d7992180;
	--shiki-ansi-blue: #458588;
	--shiki-ansi-blue-dim: #45858880;
	--shiki-ansi-magenta: #b16286;
	--shiki-ansi-magenta-dim: #b1628680;
	--shiki-ansi-cyan: #689d6a;
	--shiki-ansi-cyan-dim: #689d6a80;
	--shiki-ansi-white: #a89984;
	--shiki-ansi-white-dim: #a8998480;
	--shiki-ansi-bright-black: #928374;
	--shiki-ansi-bright-black-dim: #92837480;
	--shiki-ansi-bright-red: #fb4934;
	--shiki-ansi-bright-red-dim: #fb493480;
	--shiki-ansi-bright-green: #b8bb26;
	--shiki-ansi-bright-green-dim: #b8bb2680;
	--shiki-ansi-bright-yellow: #fabd2f;
	--shiki-ansi-bright-yellow-dim: #fabd2f80;
	--shiki-ansi-bright-blue: #83a598;
	--shiki-ansi-bright-blue-dim: #83a59880;
	--shiki-ansi-bright-magenta: #d3869b;
	--shiki-ansi-bright-magenta-dim: #d3869b80;
	--shiki-ansi-bright-cyan: #8ec07c;
	--shiki-ansi-bright-cyan-dim: #8ec07c80;
	--shiki-ansi-bright-white: #ebdbb2;
	--shiki-ansi-bright-white-dim: #ebdbb280;
}
