:root[data-theme="nord"] {
	--background: 220 16% 96%;
	--foreground: 220 16% 22%;
	--card: 220 16% 96%;
	--card-foreground: 220 16% 22%;
	--popover: 220 16% 96%;
	--popover-foreground: 220 16% 22%;
	--primary: 220 16% 22%;
	--primary-foreground: 220 16% 96%;
	--secondary: 220 16% 92%;
	--secondary-foreground: 220 16% 22%;
	--muted: 220 16% 92%;
	--muted-foreground: 220 16% 45%;
	--accent: 220 16% 92%;
	--accent-foreground: 220 16% 22%;
	--destructive: 354 42% 56%;
	--destructive-foreground: 220 16% 96%;
	--border: 220 16% 88%;
	--input: 220 16% 88%;
	--ring: 220 16% 22%;
	--radius: 0.5rem;
	--chart-1: 193 76% 56%;
	--chart-2: 210 34% 63%;
	--chart-3: 213 32% 52%;
	--chart-4: 179 25% 65%;
	--chart-5: 311 20% 63%;

	--shiki-foreground: #4c566a;
	--shiki-background: transparent;
	--shiki-token-constant: #5e81ac;
	--shiki-token-string: #a3be8c;
	--shiki-token-comment: #616e88;
	--shiki-token-keyword: #81a1c1;
	--shiki-token-parameter: #4c566a;
	--shiki-token-function: #88c0d0;
	--shiki-token-string-expression: #a3be8c;
	--shiki-token-punctuation: #4c566a;
	--shiki-token-link: #a3be8c;

	/* ANSI colors */
	--shiki-ansi-black: #3b4252;
	--shiki-ansi-black-dim: #3b425280;
	--shiki-ansi-red: #bf616a;
	--shiki-ansi-red-dim: #bf616a80;
	--shiki-ansi-green: #a3be8c;
	--shiki-ansi-green-dim: #a3be8c80;
	--shiki-ansi-yellow: #ebcb8b;
	--shiki-ansi-yellow-dim: #ebcb8b80;
	--shiki-ansi-blue: #81a1c1;
	--shiki-ansi-blue-dim: #81a1c180;
	--shiki-ansi-magenta: #b48ead;
	--shiki-ansi-magenta-dim: #b48ead80;
	--shiki-ansi-cyan: #88c0d0;
	--shiki-ansi-cyan-dim: #88c0d080;
	--shiki-ansi-white: #e5e9f0;
	--shiki-ansi-white-dim: #e5e9f080;
	--shiki-ansi-bright-black: #4c566a;
	--shiki-ansi-bright-black-dim: #4c566a80;
	--shiki-ansi-bright-red: #bf616a;
	--shiki-ansi-bright-red-dim: #bf616a80;
	--shiki-ansi-bright-green: #a3be8c;
	--shiki-ansi-bright-green-dim: #a3be8c80;
	--shiki-ansi-bright-yellow: #ebcb8b;
	--shiki-ansi-bright-yellow-dim: #ebcb8b80;
	--shiki-ansi-bright-blue: #81a1c1;
	--shiki-ansi-bright-blue-dim: #81a1c180;
	--shiki-ansi-bright-magenta: #b48ead;
	--shiki-ansi-bright-magenta-dim: #b48ead80;
	--shiki-ansi-bright-cyan: #8fbcbb;
	--shiki-ansi-bright-cyan-dim: #8fbcbb80;
	--shiki-ansi-bright-white: #eceff4;
	--shiki-ansi-bright-white-dim: #eceff480;
}

.dark[data-theme="nord"] {
	--background: 220 16% 22%;
	--foreground: 220 16% 96%;
	--card: 220 16% 22%;
	--card-foreground: 220 16% 96%;
	--popover: 220 16% 22%;
	--popover-foreground: 220 16% 96%;
	--primary: 220 16% 96%;
	--primary-foreground: 220 16% 22%;
	--secondary: 220 17% 26%;
	--secondary-foreground: 220 16% 96%;
	--muted: 220 17% 26%;
	--muted-foreground: 220 16% 80%;
	--accent: 220 17% 26%;
	--accent-foreground: 220 16% 96%;
	--destructive: 354 42% 56%;
	--destructive-foreground: 220 16% 96%;
	--border: 220 17% 26%;
	--input: 220 17% 26%;
	--ring: 220 16% 88%;
	--chart-1: 193 76% 56%;
	--chart-2: 210 34% 63%;
	--chart-3: 213 32% 52%;
	--chart-4: 179 25% 65%;
	--chart-5: 311 20% 63%;

	--shiki-foreground: #d8dee9;
	--shiki-background: transparent;
	--shiki-token-constant: #8fbcbb;
	--shiki-token-string: #a3be8c;
	--shiki-token-comment: #4c566a;
	--shiki-token-keyword: #81a1c1;
	--shiki-token-parameter: #d8dee9;
	--shiki-token-function: #88c0d0;
	--shiki-token-string-expression: #a3be8c;
	--shiki-token-punctuation: #d8dee9;
	--shiki-token-link: #a3be8c;

	/* ANSI colors */
	--shiki-ansi-black: #3b4252;
	--shiki-ansi-black-dim: #3b425280;
	--shiki-ansi-red: #bf616a;
	--shiki-ansi-red-dim: #bf616a80;
	--shiki-ansi-green: #a3be8c;
	--shiki-ansi-green-dim: #a3be8c80;
	--shiki-ansi-yellow: #ebcb8b;
	--shiki-ansi-yellow-dim: #ebcb8b80;
	--shiki-ansi-blue: #81a1c1;
	--shiki-ansi-blue-dim: #81a1c180;
	--shiki-ansi-magenta: #b48ead;
	--shiki-ansi-magenta-dim: #b48ead80;
	--shiki-ansi-cyan: #88c0d0;
	--shiki-ansi-cyan-dim: #88c0d080;
	--shiki-ansi-white: #e5e9f0;
	--shiki-ansi-white-dim: #e5e9f080;
	--shiki-ansi-bright-black: #4c566a;
	--shiki-ansi-bright-black-dim: #4c566a80;
	--shiki-ansi-bright-red: #bf616a;
	--shiki-ansi-bright-red-dim: #bf616a80;
	--shiki-ansi-bright-green: #a3be8c;
	--shiki-ansi-bright-green-dim: #a3be8c80;
	--shiki-ansi-bright-yellow: #ebcb8b;
	--shiki-ansi-bright-yellow-dim: #ebcb8b80;
	--shiki-ansi-bright-blue: #81a1c1;
	--shiki-ansi-bright-blue-dim: #81a1c180;
	--shiki-ansi-bright-magenta: #b48ead;
	--shiki-ansi-bright-magenta-dim: #b48ead80;
	--shiki-ansi-bright-cyan: #8fbcbb;
	--shiki-ansi-bright-cyan-dim: #8fbcbb80;
	--shiki-ansi-bright-white: #eceff4;
	--shiki-ansi-bright-white-dim: #eceff480;
}
