:root[data-theme="solarized"] {
	--background: 44 87% 94%;
	--foreground: 192 81% 14%;
	--card: 44 87% 94%;
	--card-foreground: 192 81% 14%;
	--popover: 44 87% 94%;
	--popover-foreground: 192 81% 14%;
	--primary: 192 81% 14%;
	--primary-foreground: 44 87% 94%;
	--secondary: 46 42% 88%;
	--secondary-foreground: 192 81% 14%;
	--muted: 46 42% 88%;
	--muted-foreground: 195 14% 45%;
	--accent: 46 42% 88%;
	--accent-foreground: 192 81% 14%;
	--destructive: 1 71% 52%;
	--destructive-foreground: 44 87% 94%;
	--border: 46 42% 88%;
	--input: 46 42% 88%;
	--ring: 192 81% 14%;
	--radius: 0.5rem;
	--chart-1: 18 80% 54%;
	--chart-2: 145 34% 49%;
	--chart-3: 205 69% 49%;
	--chart-4: 42 75% 52%;
	--chart-5: 162 59% 36%;

	--shiki-foreground: #657b83;
	--shiki-background: transparent;
	--shiki-token-constant: #2aa198;
	--shiki-token-string: #859900;
	--shiki-token-comment: #93a1a1;
	--shiki-token-keyword: #cb4b16;
	--shiki-token-parameter: #657b83;
	--shiki-token-function: #6c71c4;
	--shiki-token-string-expression: #859900;
	--shiki-token-punctuation: #657b83;
	--shiki-token-link: #859900;

	/* ANSI colors */
	--shiki-ansi-black: #073642;
	--shiki-ansi-black-dim: #07364280;
	--shiki-ansi-red: #dc322f;
	--shiki-ansi-red-dim: #dc322f80;
	--shiki-ansi-green: #859900;
	--shiki-ansi-green-dim: #85990080;
	--shiki-ansi-yellow: #b58900;
	--shiki-ansi-yellow-dim: #b5890080;
	--shiki-ansi-blue: #268bd2;
	--shiki-ansi-blue-dim: #268bd280;
	--shiki-ansi-magenta: #d33682;
	--shiki-ansi-magenta-dim: #d3368280;
	--shiki-ansi-cyan: #2aa198;
	--shiki-ansi-cyan-dim: #2aa19880;
	--shiki-ansi-white: #eee8d5;
	--shiki-ansi-white-dim: #eee8d580;
	--shiki-ansi-bright-black: #002b36;
	--shiki-ansi-bright-black-dim: #002b3680;
	--shiki-ansi-bright-red: #cb4b16;
	--shiki-ansi-bright-red-dim: #cb4b1680;
	--shiki-ansi-bright-green: #586e75;
	--shiki-ansi-bright-green-dim: #586e7580;
	--shiki-ansi-bright-yellow: #657b83;
	--shiki-ansi-bright-yellow-dim: #657b8380;
	--shiki-ansi-bright-blue: #839496;
	--shiki-ansi-bright-blue-dim: #83949680;
	--shiki-ansi-bright-magenta: #6c71c4;
	--shiki-ansi-bright-magenta-dim: #6c71c480;
	--shiki-ansi-bright-cyan: #93a1a1;
	--shiki-ansi-bright-cyan-dim: #93a1a180;
	--shiki-ansi-bright-white: #fdf6e3;
	--shiki-ansi-bright-white-dim: #fdf6e380;
}

.dark[data-theme="solarized"] {
	--background: 192 100% 5%;
	--foreground: 46 42% 88%;
	--card: 192 100% 5%;
	--card-foreground: 46 42% 88%;
	--popover: 192 100% 5%;
	--popover-foreground: 46 42% 88%;
	--primary: 46 42% 88%;
	--primary-foreground: 192 100% 5%;
	--secondary: 192 81% 14%;
	--secondary-foreground: 46 42% 88%;
	--muted: 192 81% 14%;
	--muted-foreground: 195 14% 65%;
	--accent: 192 81% 14%;
	--accent-foreground: 46 42% 88%;
	--destructive: 1 71% 52%;
	--destructive-foreground: 46 42% 88%;
	--border: 192 81% 14%;
	--input: 192 81% 14%;
	--ring: 46 42% 88%;
	--chart-1: 18 80% 54%;
	--chart-2: 145 34% 49%;
	--chart-3: 205 69% 49%;
	--chart-4: 42 75% 52%;
	--chart-5: 162 59% 36%;

	--shiki-foreground: #839496;
	--shiki-background: transparent;
	--shiki-token-constant: #2aa198;
	--shiki-token-string: #859900;
	--shiki-token-comment: #586e75;
	--shiki-token-keyword: #cb4b16;
	--shiki-token-parameter: #839496;
	--shiki-token-function: #6c71c4;
	--shiki-token-string-expression: #859900;
	--shiki-token-punctuation: #839496;
	--shiki-token-link: #859900;

	/* ANSI colors */
	--shiki-ansi-black: #073642;
	--shiki-ansi-black-dim: #07364280;
	--shiki-ansi-red: #dc322f;
	--shiki-ansi-red-dim: #dc322f80;
	--shiki-ansi-green: #859900;
	--shiki-ansi-green-dim: #85990080;
	--shiki-ansi-yellow: #b58900;
	--shiki-ansi-yellow-dim: #b5890080;
	--shiki-ansi-blue: #268bd2;
	--shiki-ansi-blue-dim: #268bd280;
	--shiki-ansi-magenta: #d33682;
	--shiki-ansi-magenta-dim: #d3368280;
	--shiki-ansi-cyan: #2aa198;
	--shiki-ansi-cyan-dim: #2aa19880;
	--shiki-ansi-white: #eee8d5;
	--shiki-ansi-white-dim: #eee8d580;
	--shiki-ansi-bright-black: #002b36;
	--shiki-ansi-bright-black-dim: #002b3680;
	--shiki-ansi-bright-red: #cb4b16;
	--shiki-ansi-bright-red-dim: #cb4b1680;
	--shiki-ansi-bright-green: #586e75;
	--shiki-ansi-bright-green-dim: #586e7580;
	--shiki-ansi-bright-yellow: #657b83;
	--shiki-ansi-bright-yellow-dim: #657b8380;
	--shiki-ansi-bright-blue: #839496;
	--shiki-ansi-bright-blue-dim: #83949680;
	--shiki-ansi-bright-magenta: #6c71c4;
	--shiki-ansi-bright-magenta-dim: #6c71c480;
	--shiki-ansi-bright-cyan: #93a1a1;
	--shiki-ansi-bright-cyan-dim: #93a1a180;
	--shiki-ansi-bright-white: #fdf6e3;
	--shiki-ansi-bright-white-dim: #fdf6e380;
}
