name: release

on:
    push:
        tags:
            - "v[0-9]+.[0-9]+.[0-9]+"

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build-docker:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, blacksmith-4vcpu-ubuntu-2204-arm]
                include:
                    - os: ubuntu-latest
                      platform: linux/amd64
                    - os: blacksmith-4vcpu-ubuntu-2204-arm
                      platform: linux/arm64
        runs-on: ${{ matrix.os }}
        steps:
            - name: Set start timestamp
              id: start
              run: |
                  printf 'timestamp=%(%s)T\n' >> "$GITHUB_OUTPUT"
            - name: Checkout
              uses: actions/checkout@v4
            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v4
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push by digest
              id: build
              uses: docker/build-push-action@v6
              with:
                  context: .
                  platforms: ${{ matrix.platform }}
                  labels: ${{ steps.meta.outputs.labels }}
                  outputs: type=image,name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
            - name: Export digest
              run: |
                  mkdir -p /tmp/digests
                  digest="${{ steps.build.outputs.digest }}"
                  touch "/tmp/digests/${digest#sha256:}"
            - name: Upload digest
              uses: actions/upload-artifact@v4
              with:
                  name: digests
                  path: /tmp/digests/*
                  if-no-files-found: error
                  retention-days: 1

    merge-docker:
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.meta.outputs.version }}
        needs:
            - build-docker
        steps:
            - name: Download digests
              uses: actions/download-artifact@v4
              with:
                  name: digests
                  path: /tmp/digests
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v4
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Create manifest list and push
              working-directory: /tmp/digests
              run: |
                  docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
                    $(printf '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@sha256:%s ' *)
            - name: Inspect image
              run: |
                  docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
    create-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        needs:
            - merge-docker
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Create Release
              uses: taiki-e/create-gh-release-action@v1
              with:
                  changelog: CHANGELOG.md
                  token: ${{ secrets.GITHUB_TOKEN }}
