---
import { ViewTransitions } from 'astro:transitions';

import "@uses.ink/styles/globals.css";
---

<script is:inline>
    const setTheme = () => {
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
  
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
  
      window.localStorage.setItem("theme", theme || "light");
    };
  
    setTheme();
  
    document.addEventListener("astro:after-swap", setTheme);
</script>


<html lang="en" transition:animate="fade" data-theme="default">
	<head>
        <ViewTransitions />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>